*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: algerian;
    list-style: none;
    text-decoration: none;
}

body{
    background:linear-gradient(245.59deg, #5b5faf 0%, #424688 28.53%, #0a0a7c 75.52%) ;
}
header{
    position: fixed;
    right: 0;
    top:0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: rgba(36, 33, 33, 0.809);
    border-radius: 15px;
}
#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.nav-list{
    display: flex;
}
.lp a.toggle-button {
  order: -1;
  margin-right: 1rem;
}
.nav-list a{
    color: rgb(255, 255, 255);
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.nav-list a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
section{
    padding: 0 19%;
}
.lp-text p{
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
}
.lp-text h1{
    font-family:sans-serif;
    color: white;
    font-size: 100px;
}
.lp{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    background: transparent;
}
.lp .home-img {
    max-width: 40%;
}

.lp .home-img img {
    width: 100%;
    height: auto;
}
.home-p{
    width: 100%;
}
.home-img{
    width: 600px;
    height: auto;
}

@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1340px){
    .home-img img{
        width: 400px;
        height: auto;
    }
    .lp-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .lp-text p{
        margin-bottom: 25px;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .lp-text{
        padding-top: 115px;
    }
    .home-img{
        text-align: center;
    }
    .home-img img{
        width: 500px;
        height: auto;
    }
    .lp{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr
    }
}
    @media (max-width: 990px){
        #menu-icon{
            display: block;
        }
        .nav-list{
            position: absolute;
            top: 100%;
            right: -100%;
            width: 300px;
            height: 40vh;
            background: #4d599567;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 50px 20px;
            transition: all .55s ease;
        }
        .nav-list a{
            display: block;
            margin: 7px 0;
            margin-left: 0;
        }
        .nav-list.open{
            right: 0;
        }
    }
@media (max-width: 680px){
    .home-img img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 560px){
    .home-img img{
        width: 100%;
        height: auto;
    }
}

